body {
  margin: 1em;
}
.box {
  padding: 1em;
  width: 47%;
  float: left;
}
#school {
  background-color: yellow;
}

#selfdevelopment {
  background-color: papayawhip;
}
.form_box {
  position:static;
  display: block;

}
